body{
	background-color: #A0A1BA;
	background-size: cover;
}
.navigasi{
	background-color: #02438F; 
	text-align: right;
	background-size: cover;
}
.about{
	background-color: white; 
	align-items: center;
	width: 45%;
    margin:auto;
    padding: 10px;
    border-radius: 10px;
}
a{
	color: white;
}
header, article, footer{
	text-align: center;
}